header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 110px;
  justify-content: space-between;
  padding: 2rem 5rem;
  border-bottom: 2px solid var(--white3);
  z-index: 100;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}


.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  color: var(--text1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 12px;
}

.navItam-active, .navItam-active svg path {
  color: var(--action);
  stroke: var(--action);
  pointer-events: none;
}

.nav-list-item:hover {
  transform: translateY(-3px);
}


.coming-soon {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.5;
  color: var(--text2);
  cursor: not-allowed;
}

.coming-soon span {
  position: absolute;
  left: -50px;
  top: -4px;
  font-size: 12px;

}



.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pdf-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  background-color: var(--text1);
  cursor: pointer;
}

.user-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px 25px;
  border-radius: 12px;
  white-space: nowrap;
  border: none;
  background-color: var(--text2);
  color: rgb(255, 255, 255);
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}

.user-button:hover .userMenu-div {
  height: 300px;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  
}

.user-button:hover .hover-support {
  visibility: visible;
}

.userMenu-div {
  display: flex;
  position: absolute;
  flex-direction: column;
  border: 2px solid var(--white3);
  background-color: var(--white);
  top: 55px;
  transform: translateY(-5px);
  left: 0;
  right: 0;
  border-radius: 10px;
  pointer-events: none;
  height: 0;
  transition: all 0.3s ease-in;
  max-height: fit-content;
  overflow: hidden;
  visibility: hidden;
}

.hover-support {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 10px;
  visibility: hidden;
}

.userMenu-div button {
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  background-color: transparent;
  gap: 10px;
  cursor: pointer;
  padding: 10px 18px;
  transition: all 0.2s ease-in-out;

}

.userMenu-div button:hover {
  background-color: var(--white3);
}

.userMenu-div button:nth-child(1) {
  padding-top: 10px;
  color: var(--action);
}
.userMenu-div button:nth-child(2) {
  color: var(--text1);
}
.userMenu-div button:nth-child(3) {
  color: var(--text2);
  cursor: not-allowed;
}
.userMenu-div button:nth-child(4) {
  padding-bottom: 10px;
  color: var(--wrong);
}