@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 100;
	src: url('/font/woff/IRANYekanX-Thin.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 200;
	src: url('/font/woff/IRANYekanX-UltraLight.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 300;
	src: url('/font/woff/IRANYekanX-Light.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Light.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 500;
	src: url('/font/woff/IRANYekanX-Medium.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 600;
	src: url('/font/woff/IRANYekanX-DemiBold.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-DemiBold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 800;
	src: url('/font/woff/IRANYekanX-ExtraBold.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 900;
	src: url('/font/woff/IRANYekanX-Black.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Black.woff2') format('woff2');		 
}
@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 950;
	src: url('/font/woff/IRANYekanX-ExtraBlack.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 1000;
	src: url('/font/woff/IRANYekanX-Heavy.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Heavy.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: bold;
	src: url('/font/woff/IRANYekanX-Bold.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: normal;
	src: url('/font/woff/IRANYekanX-Regular.woff') format('woff'),   
	url('/font/woff2/IRANYekanX-Regular.woff2') format('woff2');	
}




    :root {
        /* Colors */
        --white: rgba(255, 255, 255, 1);
        --white2: rgba(248, 250, 252, 1);
        --white3: rgba(226, 232, 240, 1);
        --text1: rgba(30, 41, 59, 1);
        --text2: rgba(71, 85, 105, 1);
        --action: rgba(37, 99, 235, 1);
        --wrong: rgba(185, 28, 28, 1);
        --error: rgba(244, 127, 84, 1);
        --good: rgba(41, 153, 131, 1);
        --class: rgba(224, 231, 255, 1);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: IRANYekanX;
    }

    .H1 {
        font-size: 24px;
        font-weight: 700;
    }
    .H2 {
        font-size: 20px;
        font-weight: 600;
    }
    .H3 {
        font-size: 16px;
        font-weight: 600;
    }
    .BODY {
        font-size: 14px;
        font-weight: 500;
    }
    .CAPTION {
        font-size: 12px;
        font-weight: 500;
    }

    /* body {
		display: flex;
        margin-top: 110px;
    } */