.sidebar-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 383px;
    right: 0;
    bottom: 0;
    top: 110px;
    background-color: var(--white);
    border-left: 2px solid var(--white3);
    z-index: 99;

}

.sidebars {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.mainSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.lessonListTitle-unit {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 2px solid var(--white3);
}

.lessonListTitle-unit h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.lessonList {
    width: 100%;
    flex-grow: 1;
    overflow-y: overlay;
}

.lessonList::-webkit-scrollbar {
    width: 3px;
    margin-left: 1rem;
}

.lessonList::-webkit-scrollbar-thumb {
    background: var(--text2);
}


.lessonList::-webkit-scrollbar-track {
    background: var(--white3);
}

.lessonDetails-drawer {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--white3);
    height: 63px;
    overflow: hidden;
    max-height: fit-content;
    transition: all 0.5s ease-in-out;
}


.lessonDetails-eye {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    transition: all 0.5s ease-in-out;
}

.lessonName-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: default;
}

.lessonName-arrow svg:hover {
    cursor: pointer;
}

.lessonDetails-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    background-color: var(--white);
    visibility: hidden;
    padding: 0px 24px;

}

.lessonDetails-eye:has(.lessonDetails-arrow:checked) {
    background-color: var(--white3);
}

.lessonDetails-drawer:has(.lessonDetails-arrow:checked)>.lessonDetails-div {
    visibility: visible;
    pointer-events: unset;
    padding: 18px 24px;
}


.lessonDetails-drawer:has(.lessonDetails-arrow:checked) {
    visibility: visible;
    background-color: var(--white);
    height: 500px;
    pointer-events: unset;
}

.title-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 12px;
    color: var(--text1);
}

.textareaFix {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
    color: var(--text1);
    height: 30px;

}

.classDay-tag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.noteInput {
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    color: var(--text1);
    outline: none;
    width: 100%;
    resize: none;
    scroll-behavior: smooth;
}

.noteInput::placeholder {
    color: var(--text1);
}

.add-delete-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.deleteLesson-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--wrong);
    background-color: var(--white);
    border: 2px solid var(--white3);
    padding: 10px 15px;
    border-radius: 10px;
    flex: 1;
    gap: 10px;
    white-space: nowrap;
}

.editLesson-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text2);
    flex: 1;
    background-color: var(--white);
    border: 2px solid var(--white3);
    padding: 10px 15px;
    border-radius: 10px;
    gap: 10px;
    white-space: nowrap;
}

.lessonDetails-arrow-label {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.lessonDetails-arrow:checked+.lessonDetails-arrow-label {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}


.lessonUnit-addLessonButton-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    padding: 24px 36px;
    margin-top: auto;
    flex-shrink: 0;
    border-top: 2px solid var(--white3);
    background-color: var(--white);
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.05);
}

.lesson-unit-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainAddLesson-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--action);
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--action);
    cursor: pointer;
}

.mainAddLesson-button:hover,
.mainAddLesson-button:hover svg path {
    background-color: var(--action);
    color: var(--white);
    stroke: var(--white);
}

.time-tag-div {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.time-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: rgba(71, 85, 105, 1);
    gap: 5px;
    padding: 6px 12px;
    border: 1px solid rgba(71, 85, 105, 1);
    border-radius: 6px;
    cursor: default;
}

.time-tag svg:hover {
    cursor: pointer;
}

.time-tag:hover {
    background-color: rgba(226, 232, 240, 1);
}












.add-lesson-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(390px);
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    background-color: var(--white);
    z-index: 90;
}


.lessonInfo-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    width: 100%;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 2px solid var(--white3);
}

.lessonInfo-back svg {
    cursor: pointer;
    fill: var(--text2);
    opacity: 0.5;
}

.lessonInfo-back svg:hover {
    opacity: 1;

}

.lessonInfo-back p {
    color: var(--text1);
    font-weight: 600;
    font-size: 20px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    justify-self: center;
    width: 100%;
    padding: 10px 32px;
    gap: 24px;
}

.inputs-container::-webkit-scrollbar {
    width: 13px;
}

.inputs-container::-webkit-scrollbar-thumb {
    background: var(--text2);
    border: 5px solid var(--white);
}

.inputs-container::-webkit-scrollbar-track {
    width: 10px;
}


.name-unit {
    display: flex;
    gap: 10px;
}

.lessonName-input {
    width: 216px;

}

input {
    height: 48px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    color: var(--text2);
    border: 2px solid var(--white3);
    font-size: 14px;

}

input:focus {
    outline: none;
}

.unit-input {
    width: 100px;
}

.inputs-label-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.inputs-label {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
}

.inputs-label-star {
    position: absolute;
    top: -7px;
    left: -10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--wrong);
}

.day-check-div {
    display: flex;
    gap: 12px;
}

.day-check-label {
    display: flex;
    color: var(--text2);
    font-size: 14px;
    flex: 1;
    height: 48px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white3);
    cursor: pointer;
}

.time-evenOdd-div {
    display: flex;
    gap: 12px;
}

.time-select,
.evenOdd-select {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text2);
    padding: 10px 15px;
    border: 2px solid var(--white3);
    border-radius: 10px;
    cursor: pointer;
}

.time-select:focus {
    outline: none;
}

.evenOdd-check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 88px;
    border: 2px solid var(--white3);
    border-radius: 10px;
    color: var(--text2);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.check:checked+label {
    background-color: var(--white3);
    border: 1px solid var(--text2);
}

.add-lessonTime-button {
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text2);
    border: 2px solid var(--text2);
    background-color: transparent;
    cursor: pointer;
}

.add-lessonTime-button:hover {
    background-color: var(--white3);
    border: none;
}

.time-tag-div {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.time-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--text2);
    gap: 5px;
    padding: 6px 12px;
    border: 1px solid var(--text2);
    border-radius: 6px;
    cursor: default;
}

.time-tag svg:hover {
    cursor: pointer;
}

.time-tag:hover {
    background-color: var(--white3);
}

.exam-time-date-div {
    display: flex;
    gap: 10px;
}

.exam-time-input {
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
}

.exam-date-input {
    flex: 2;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
}

.add-clear-buttons {
    display: flex;
    flex-direction: column;
    /* padding: 0 36px; */
    gap: 24px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 24px;
}

.add-clear-buttons div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 36px;

}

.clear-lesson-button {
    display: flex;
    flex: 1;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: var(--text2);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.add-lesson-button {
    display: flex;
    white-space: nowrap;
    flex: 1;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--text2);
    opacity: 0.5;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.add-lesson-button:hover {
    background-color: var(--action);
    opacity: 1;
}