.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-right: 383px;

}

.table-row {
  display: flex;
  border-radius: 10px;
  align-items: center;
  border: 2px solid var(--white3);
  margin-bottom: 12px;
  overflow: hidden;
}

.table-head-row {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: end;
  border: 2px solid var(--white3);
  margin-bottom: 12px;
  width: fit-content;
  margin-right: auto;
}



.table-head-time {
  padding: 24px 48px;
  color: var(--text2);
  width: 188px;
  height: 60px;
  border-right: 2px solid var(--white3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-head-day {
  display: flex;
  flex: 1;
  padding: 18px;
  color: var(--text2);
  align-items: center;
  justify-content: center;
  color: var(--text1);

}

.table-dataCell span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-dataCell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  padding: 18px;
  width: 188px;
  height: 107px;
  color: var(--text2);
  border-right: 2px solid var(--white3);

}

.table-dataCell:hover .table-dataCel-hoverDiv {
  opacity: 1;
  pointer-events: all;

}

.table-dataCel-mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  height: 100%;
}

.table-dataCel-mainDiv-dubbleLesson {
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.unknown {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* height: 20px; */
}

.unknown span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-dataCel-Dubble-hoverDiv {
  display: flex;
  position: absolute;
  align-items: center;
  left: -18px;
  right: -18px;
  /* top: -4px; */
  /* bottom: -4px; */
  height: 60px;
  background-color: var(--white2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 100px;
}

.viewButton-dubble-table {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
  border: none;
  /* border-bottom: 1px solid var(--white3); */
  color: var(--text2);
  padding: 10px 15px;
  cursor: pointer;
}


.deleteButton-dubble-table {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
  border: none;
  color: var(--wrong);
  padding: 10px 15px;
  cursor: pointer;
}

.unknown:hover .table-dataCel-Dubble-hoverDiv {
  opacity: 1;
  pointer-events: all;
}

.lessonName-table {
  color: var(--action);
}

/* .class-place {
  background-color: red;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--text2);
  display: flex;
  border: none;
  padding-right: 35px;
  padding: 20px 35px;
}

.class-place::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text2);

  ps
} */

.class-place-table {
  color: var(--text2);
}

.table-dataCel-hoverDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--white2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 100px;

}

.viewButton-table {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
  border: none;
  border-bottom: 1px solid var(--white3);
  color: var(--text2);
  padding: 10px 15px;
  cursor: pointer;
}


.deleteButton-table {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
  border: none;
  color: var(--wrong);
  padding: 10px 15px;
  cursor: pointer;
}


.border-none {
  border: none;
}
